<%- include("partials/header.ejs", { title: "Query Ownership History" }) %>

    <div class="d-flex align-items-center bg-light" style="min-height: 100vh;">
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="card rounded-0 shadow">
                        <div class="card-body">
                            <h3>Query Ownership History</h3>
                            <%- include("partials/error.ejs") %>
                                <form action="/form/queryHistory" method="POST">
                                    <%- include("partials/land.ejs", { showKhasra: true }) %>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

<%- include("partials/footer.ejs") %>