<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <title>Query Village</title>
    </head>
    <body>
        <div class="d-flex align-items-center bg-light" style="min-height: 100vh;">
            <div class="container" >
                <div class="d-flex justify-content-center">
                    <div class="col-md-6">
                        <div class="card rounded-0 shadow">
                            <div class="card-body">
                                <h3>Query Village</h3>
                                <form action="/form/queryVillage" method="POST">
                                    <div class="form-group">
                                        <label for="village">Village:</label>
                                        <input type="text" name="village" class="form-control" id="village" aria-describedby="emailHelp" placeholder="Enter Village">
                                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                                    </div>
                                    <div class="form-group">
                                        <label for="subDistrict">Sub-District: </label>
                                        <input type="text" name="subDistrict" class="form-control" id="subDistrict" aria-describedby="emailHelp" placeholder="Enter Sub-District">
                                    </div>
                                    <div class="form-group">
                                        <label for="district">District: </label>
                                        <input type="text" name="district" class="form-control" id="district" aria-describedby="emailHelp" placeholder="Enter District">
                                    </div>
                                    <div class="form-group">
                                        <label for="state">State: </label>
                                        <input type="text" name="state" class="form-control" id="state" placeholder="Enter state">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <script src="/jquery/jquery.min.js"></script>
                <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
            </div>
    </body>
</html>