<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <title>Transfer Land</title>
    </head>
    <body >
        <div class="d-flex align-items-center pt-4 bg-light">
            <div class="container" >
                <div class="d-flex justify-content-center">
                    <div class="col-md-6">
                        <div class="card rounded-0 shadow">
                            <div class="card-body">
                                <h3>Transfer Land</h3>
                                <form action="/form/transfer" method="POST" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="khasraNo">Khasra Number: </label>
                                        <input type="text" name="khasraNo" class="form-control" id="khasraNo" aria-describedby="emailHelp" placeholder="Enter Khasra Number">
                                    </div>
                                    <div class="form-group">
                                        <label for="village">Village:</label>
                                        <input type="text" name="village" class="form-control" id="village" aria-describedby="emailHelp" placeholder="Enter Village">
                                        <!-- <small id="" class="form-text text-muted"></small> -->
                                    </div>
                                    <div class="form-group">
                                        <label for="subDistrict">Sub-District: </label>
                                        <input type="text" name="subDistrict" class="form-control" id="subDistrict" aria-describedby="emailHelp" placeholder="Enter Sub-District">
                                    </div>
                                    <div class="form-group">
                                        <label for="district">District: </label>
                                        <input type="text" name="district" class="form-control" id="district" aria-describedby="emailHelp" placeholder="Enter District">
                                    </div>
                                    <div class="form-group">
                                        <label for="state">State: </label>
                                        <input type="text" name="state" class="form-control" id="state" placeholder="Enter state">
                                    </div>
                                    <div class="form-group">
                                        <label for="currentKhataNo">Current Khata Number:</label>
                                        <input type="text" name="currentKhataNo" class="form-control" id="currentKhataNo" placeholder="Enter Current Khata number">
                                    </div>
                                    <div class="form-group">
                                        <label for="currentOwnerName">Current Owner Name:</label>
                                        <input type="text" name="currentOwnerName" class="form-control" id="currentOwnerName" placeholder="Enter Current Owner Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="newKhataNo">New Khata Number:</label>
                                        <input type="text" name="newKhataNo" class="form-control" id="newKhataNo" placeholder="Enter New Khata Number">
                                    </div>
                                    <div class="form-group">
                                        <label for="newOwnerName">New Owner Name:</label>
                                        <input type="text" name="newOwnerName" class="form-control" id="newOwnerName" placeholder="Enter New Owner Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="price">Price:</label>
                                        <input type="text" name="price" class="form-control" id="price" placeholder="Enter Price">
                                    </div>
                                    <div class="form-group">
                                        <label for="date">Date:</label>
                                        <input type="date" name="date" class="form-control" id="date">
                                    </div>
                                    <!-- <div class="form-group">
                                        <label for="certificate">Certificate:</label>
                                        <input type="file" name="certificate" class="form-control" id="certificate">
                                    </div> -->
                                    <div class="form-group">
                                        <label for="otherDocs">Other Docs:</label>
                                        <input type="file" name="otherDocs" class="form-control" id="otherDocs" multiple>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <script src="/jquery/jquery.min.js"></script>
                <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
            
            </div>
    </body>
</html>