
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <ul class="nav nav-bar">
            <li class="nav-item">
              <a class="nav-link" href="/certificate">Certificate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/otherdocs">Other Docs</a>
            </li>
        </ul>
    </div>
</nav>