<html>
    <head>
        <title>Land Record</title>
    </head>
    <body>
        <h1>Land Record</h1>
        <form action="/landrecord/resolve" method="get">
            <div>
                <label for="lat">Latitude: </label>
                <input type="text" name="lat" id="lat">
            </div>
            <div>
                <label for="lon">Longitude: </label>
                <input type="text" name="lon" id="lon">
            </div> 
            <button type="submit">Get Info</button>
         </form>
    </body>
</html>